.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

.containerAbout{
  font-family: 'Pangolin', cursive;
  color: white;
  text-shadow: 2px 2px green;
}

.aboutTitle{
  text-align: center;
  margin-top: 2%;
  letter-spacing: 10px;
}

.aboutContent{
  background-color: #FCD000;
  margin: auto;
  width: 60%;
}

.aboutParagraph{
  color: green;
  text-shadow: none;
  text-align: center;
  font-size: 20px;
  margin-top: 3%;
  margin-bottom: 6%;
}

.danielGif{
  opacity: 0.9;
  height: 550px;
  width: 300px;
  display: block;
  margin: auto;
}

.gifDescription{
  color: green;
  text-shadow: none;
  font-size: 15px;
  display: block;
  text-align: center;
  font-style: italic;
  margin-top: 2%;
}

.Profile .pangolin-text-title {
  text-shadow: 1px 1px 1px black;
  text-align: center;
  display: block;
}

.metrics-list-display, .metrics-pie-display {
  font-family: 'Pangolin', cursive;
    display: inline-flex;
    letter-spacing: 2px;
    text-shadow: 0px 0px 1px black;
    color: rgb(0, 175, 66);
    border-radius: 25px;
    box-shadow: 0px 0px 5px 3px rgb(0, 175, 66);
}

.centered-btn {
  text-align: center;
}

.is-hidden-element {
  display: none
}

.metrics-list-container {
  border-radius: 5px;
  border: 2px solid rgb(0, 175, 66);
  display: block;
}

.metrics-list-display:hover {
  box-shadow: 0px 0px 9px 3px blueviolet;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

@media only screen and (max-width: 1000px) {
  .aboutContent {
    margin: auto;
    width: 100%;
    font-size: 12px;
  }
}

/* Login and Signup pages styling */
.page-title-name {
  color: green;
  font-family: 'Pangolin', cursive;
  text-shadow: 2px 2px white;
}

.form-title-text {
  color: green;
  font-family: 'Pangolin', cursive;
  font-weight: bold;
}