body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-color:  rgb(252, 208, 0);
  
}

/* .transparent{
  background-color: rgba(0, 0, 0, 0);
  border: none;
} */

@media only screen and (max-width: 1000px) {
 .menuButton{
   width:100%;
   align-content: center;
 }
}