body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-color:  rgb(252, 208, 0);

}

/* .transparent{
  background-color: rgba(0, 0, 0, 0);
  border: none;
} */

.font-buttons-text {
  font-family: 'Pangolin', cursive;
  font-size: 27px;
}
@media only screen and (max-width: 1200px) {
  .menuButton{
    font-size: 12px;
    align-content: center;
    margin: 50px 0 0 0;
  }
 }

@media only screen and (max-width: 1000px) {
 .menuButton{
   width:100%;
   align-content: center;
   margin: 50px 0 0 0;
 }
}