.backButton{
  text-decoration: none;
  width: 100%;
  align-content: center;
  padding: 20px;
  font-family: 'Pangolin', cursive;
  font-size: 25px;
  text-shadow: 2px 2px gold;
}


.backButton:hover {
    align-content: center;
    font-family: 'Pangolin', cursive;
    text-shadow: 2px 2px gold;
    color: blueviolet;
    text-decoration: none;
}


@media only screen and (max-width: 1000px) {
   .previousColumn{
    width: 20%;
   }

   .backColumn{
    width: 60%;
   }

   .nextColumn{
    width: 20%;
   }
   
  }
