
/* .wrapper {
    background: #ECEFF1;
    height: 100%;
    display: flex;
    flex-flow: row wrap;
    padding: 20px;
    justify-content: space-around;
    align-content: flex-start;
    overflow: auto;
    margin: 1rem;
  } */

  .cardAnimals {
    /* width: 105%;
    height: 95%; */
    margin: 1rem;
    /* text-align: center; 
    margin: 20px; */
    /* background:rgb(230,230,230); */
    -webkit-transition: -webkit-transform .15s linear;
    -webkit-box-shadow: 0 3px 6px rgba(0,0,0,.25);
    -moz-box-shadow: 0 3px 6px rgba(0,0,0,.25);

}
.cardAnimals:hover {
    -webkit-box-shadow: 0 3px 6px rgba(0,0,0,.5);
    -moz-box-shadow: 0 3px 6px rgba(0,0,0,.5);

    -webkit-transform: scale(1.05);
    -moz-transform: scale(1.05);
    position: relative;
    z-index: 5;
}
  .animalImg {
    width: 160px;
    position: relative;
    
  }
  .animalContainer {
    background-image: url("./farm.jpg");
    position: relative;
    top: 5px;
    background-size: cover;
    width: 100%;
    height: 650px;
  }

  #Sheep {
    position: relative;
    width: 80px;
    top: 400px;
    left: 400px;
  }

  #Duck {
    position: relative;
    width: 60px;
    top: 300px;
    left: -350px;
  }
  #Owl {
    position: relative;
    width: 65px;
    top: 100px;
    left: 240px;
  }
  #Sparrow {
    position: relative;
    width: 50px;
    /* top: -150px; */
    left: 100px;
  }

  #Turkey {
    position: relative;
    width: 80px;
    top: 500px;
    left: -200px;
  }

  #Chicken {
    position: relative;
    width: 70px;
    top: 250px;
    left: -40px;
  }

  #Cow {
    position: relative;
    top: 500px;
  }
  #Goat {
    position: relative;
    width: 80px;
    left: 700px;
    top: 250px;
  }
  #Pig {
    position: relative;
    width: 50px;
    left: 200px;
    top: 250px;
  }
  #Cat {
    position: relative;
    width: 70px;
    top: 350px;
    left: -330px;
  }
  #Dog {
    position: relative;
    width: 80px;
    top: 300px;
    left: 250px;
  }
  #Frog {
    position: relative;
    top: 500px;
    left: -500px;
  }