  .cardAnimals {
    margin: 1rem;
    -webkit-transition: -webkit-transform .15s linear;
    -webkit-box-shadow: 0 3px 6px rgba(0,0,0,.25);
    -moz-box-shadow: 0 3px 6px rgba(0,0,0,.25);

}
.cardAnimals:hover {
    -webkit-box-shadow: 0 3px 6px rgba(0,0,0,.5);
    -moz-box-shadow: 0 3px 6px rgba(0,0,0,.5);

    -webkit-transform: scale(1.05);
    -moz-transform: scale(1.05);
    position: relative;
    z-index: 5;
}
  .animalImg {
    width: 160px;
    position: relative;
    
  }
  .animalContainer {
    background-image: url("./farm.jpg");
    position: relative;
    margin: 50px auto;
    top: 5px;
    background-size: cover;
    width: 1200px;
    height: 650px;
    -webkit-transition: -webkit-transform .15s linear;
    -webkit-box-shadow: 0 10px 10px rgba(0,0,0,.35);
    -moz-box-shadow: 0 10px 10px rgba(0,0,0,.35);
  }

  #Sheep {
    position: relative;
    width: 80px;
    top: 230px;
    left: 550px;
  }

  #Duck {
    position: relative;
    width: 60px;
    top: 180px;
    left: -400px;
  }
  #Owl {
    position: relative;
    width: 65px;
    top: 0px;
    left: 250px;
  }
  #Sparrow {
    position: relative;
    width: 50px;
    top: -100px;
    left: 80px;
  }

  #Turkey {
    position: relative;
    width: 80px;
    top: 390px;
    left: -250px;
  }

  #Chicken {
    position: relative;
    width: 70px;
    top: 130px;
    left: -40px;
  }

  #Cow {
    position: relative;
    width: 225px;
    left: 100px;
    top: 325px;
  }
  #Goat {
    position: relative;
    width: 80px;
    left: 730px;
    top: 150px;
  }
  #Pig {
    position: relative;
    width: 50px;
    left: 180px;
    top: 150px;
  }
  #Cat {
    position: relative;
    width: 70px;
    top: 200px;
    left: -400px;
  }
  #Dog {
    position: relative;
    width: 80px;
    top: 160px;
    left: 300px;
  }
  #Frog {
    position: relative;
    width: 100px;
    top: 120px;
    left: -470px;
  }

  #Frog:hover, #Sparrow:hover, #Sheep:hover, #Duck:hover, #Dog:hover, #Cat:hover, #Pig:hover, #Goat:hover, #Cow:hover, #Chicken:hover, #Turkey:hover, #Owl:hover {
    animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
    transform: translate3d(0, 0, 0);
    backface-visibility: hidden;
    perspective: 1000px;
  }
  
  @keyframes shake {
    10%, 90% {
      transform: translate3d(-1px, 0, 0);
    }
    
    20%, 80% {
      transform: translate3d(2px, 0, 0);
    }
  
    30%, 50%, 70% {
      transform: translate3d(-4px, 0, 0);
    }
  
    40%, 60% {
      transform: translate3d(4px, 0, 0);
    }
  }