.page-title-name {
    color: green;
    font-family: 'Pangolin', cursive;
    text-shadow: 2px 2px white;
}

.form-title-text {
    color: green;
    font-family: 'Pangolin', cursive;
    font-weight: bold;
}