.draw-area {
    border: solid 2px black;
    touch-action: none;
    cursor: none;
}
.undo-button {
    margin: 0 0 10px 5px;
    
}

.pangolin-undo {
    font-family: 'Pangolin', cursive;
    display: inline-flex;
    letter-spacing: 2px;
    text-shadow: 2px 2px white;
    color: rgb(0, 175, 66);
    border-radius: 25px;
    box-shadow: 0px 0px 5px 3px rgb(0, 175, 66);
}

.pangolin-undo:hover {
    box-shadow: 1px 1px 5px 7px blueviolet;
}

.pangolin-text {
    font-family: 'Pangolin', cursive;
    display: inline-flex;
    margin: 0 55px;
    letter-spacing: 3px;
    text-shadow: 2px 2px rgb(0, 175, 66);
    color: white;
    padding: 10px;
    cursor: pointer;
}

.pangolin-text:hover {
    font-family: 'Pangolin', cursive;
    display: inline-flex;
    text-shadow: 2px 2px rgb(0, 175, 66);
    color: blueviolet;
}

.pangolin-text-title {
    font-family: 'Pangolin', cursive;
    display: inline-flex;
    margin: 0 25px;
    letter-spacing: 5px;
    text-shadow: 2px 2px white;
    color: rgb(0, 175, 66);
}

@media only screen and (max-width: 1219px) {
    .pangolin-text {
        padding: 0px;
        float: left;
        margin-top: 2px;
    }
}

@media only screen and (max-width: 975px) {
    .pangolin-text {
        margin: 0px 5px;
        clear: left;
        font-size: 24px;
    }
}

@media only screen and (max-width: 682px) {
    .pangolin-text {
        font-size: 20px;
        margin: 0px;
    }
    .pangolin-text-title {
        margin: 5px, 10px, 5px, 10px;
    }
}

@media only screen and (max-width: 612px) {
    .undo-button {
        margin-right: 37px;
    }
}

@media only screen and (max-width: 600px) {
  .pangolin-text {
    font-size: 14px;
    margin: 0px 0px;
    float: left;
    margin-top: 5px;
  }
  .pangolin-text-title {
    font-size: 27px;
    margin-right: 25px;
  }
  .undo-button {
    font-size: 14px;
    margin: 2px 50 10px 50px;
    padding: 0px;
}
}