.draw-area {
    border: solid 2px black;
}
.undo-button {
    /* position: absolute; */
    /* top: 10px; */
    margin-top: 15px;
    right: 12px;
}

.pangolin-undo {
    font-family: 'Pangolin', cursive;
    /* display: inline-flex; */
    letter-spacing: 2px;
    text-shadow: 2px 2px white;
    color: rgb(0, 175, 66);
    border-radius: 25px;
    box-shadow: 0px 0px 5px 3px rgb(0, 175, 66);
}

.pangolin-undo:hover {
    box-shadow: 1px 1px 5px 7px blueviolet;
}

.pangolin-text {
    font-family: 'Pangolin', cursive;
    display: inline-flex;
    margin: 0 55px;
    letter-spacing: 3px;
    text-shadow: 2px 2px rgb(0, 175, 66);
    color: white;
    padding: 10px;
}

.pangolin-text:hover {
    font-family: 'Pangolin', cursive;
    display: inline-flex;
    margin: 0 45px 0 26px;
    font-size: 42px;
    letter-spacing: 3px;
    text-shadow: 2px 2px rgb(0, 175, 66);
    color: blueviolet;
    padding: 0px;
}

.pangolin-text-title {
    font-family: 'Pangolin', cursive;
    display: inline-flex;
    margin: 0 25px;
    letter-spacing: 5px;
    text-shadow: 2px 2px white;
    color: rgb(0, 175, 66);
}

/* @media only screen and (max-width: 600px) {
    .undo-button {
        
        display: block;
    }
  } */
@media only screen and (max-width: 1170px) {
    .load-text {
        display: block;
    }
}


@media only screen and (max-width: 600px) {
  
    
  .pangolin-text {
    font-size: 14px;
    margin: 0px 0px;

  }
  .pangolin-text-title {
    font-size: 16px;
  }
}