


  .cardNature {
    width: 80%;
    height: 96%;
    text-align: center;
    margin: 10px 0px 20px 0px;
    background:rgb(230,230,230);
    -webkit-transition: -webkit-transform .15s linear;
    -webkit-box-shadow: 0 3px 6px rgba(0,0,0,.25);
    -moz-box-shadow: 0 3px 6px rgba(0,0,0,.25);

}
.cardNature:hover {
    -webkit-box-shadow: 0 3px 6px rgba(0,0,0,.5);
    -moz-box-shadow: 0 3px 6px rgba(0,0,0,.5);

    -webkit-transform: scale(1.05);
    -moz-transform: scale(1.05);
    position: relative;
    z-index: 5;
}

.natureImg {
width: 245px;
height: 245px;
padding: 8px 0px 20px 0px;
margin: 4px;
box-sizing: border-box;

/* margin-top: 2rem; */
}


