
/* .wrapper {
    background: #ECEFF1;
    height: 100%;
    display: flex;
    flex-flow: row wrap;
    padding: 20px;
    justify-content: space-around;
    align-content: flex-start;
    overflow: auto;
    margin: 1rem;
  } */

  .cardRelax {
        width: 99%;
        height: 95%;
        margin: 1rem;
        text-align: center;
        margin: 20px;
        background:rgb(230,230,230);
        -webkit-transition: -webkit-transform .15s linear;
        -webkit-box-shadow: 0 3px 6px rgba(0,0,0,.25);
        -moz-box-shadow: 0 3px 6px rgba(0,0,0,.25);
    
  }
  .cardRelax:hover {
    -webkit-box-shadow: 0 3px 6px rgba(0,0,0,.5);
    -moz-box-shadow: 0 3px 6px rgba(0,0,0,.5);

    -webkit-transform: scale(1.05);
    -moz-transform: scale(1.05);
    position: relative;
    z-index: 5;
  }

  .relaxImg {
    width: 240px;
    height: 240px;
    padding: 12px 4px 16px 4px;
    box-sizing: border-box;
    
    /* margin-top: 2rem; */
  }

  @media screen and (max-width: 1200px) {
    .relaxImg {
      width: 200px;
      height: 200px;
  
      }

  }

  @media screen and (max-width: 812px) {
    .relaxImg {
      width: 150px;
      height: 150px;
  
      }

  }

  @media screen and (max-width: 700px) {
    .relaxImg {
      width: 450px;
      height: 450px;
  
      }
  

      .cardRelax {
        width: 95%;
        height: 99%;
        margin: 20px;
  
    
  }
  @media screen and (max-width: 375px) {
    .relaxImg {
      width: 250px;
      height: 250px;
  
      }
   
  }
  }
