.menuButton {
    padding: 130px;
    margin-top: 50px;
    margin-right: 20px;
   
}
.containerSounds {
    display: flex;
    justify-content: center;
    align-items: center;
}

.natureButton {
    background-color: rgb(247, 120, 41) !important;
}

.relaxButton {
    background-color: rgb(0, 97, 172) !important;
}

.relaxButton, .natureButton, .aninmalButton {
    -webkit-transition: -webkit-transform .15s linear;
        -webkit-box-shadow: 0 3px 6px rgba(0,0,0,.25);
        -moz-box-shadow: 0 3px 6px rgba(0,0,0,.25);
} 

.relaxButton:hover, .natureButton:hover, .animalButton:hover {
    -webkit-box-shadow: 0 3px 6px rgba(0,0,0,.5);
    -moz-box-shadow: 0 3px 6px rgba(0,0,0,.5);

    -webkit-transform: scale(1.05);
    -moz-transform: scale(1.05);
    position: relative;
    z-index: 5;
}