/* .subButton{
    display: inline;
} */
.subButton{
    font-family: 'Pangolin', cursive;
    font-size: 20px;
    text-shadow: 2px 2px rgb(0, 175, 66);
    cursor: pointer;
    letter-spacing: 3px;
}

.subButton{
    font-family: 'Pangolin', cursive;
    font-size: 20px;
    text-shadow: 2px 2px rgb(0, 175, 66);
    cursor: pointer;
    letter-spacing: 3px;
}

.subButton:hover{
    font-family: 'Pangolin', cursive;
    font-size: 30px;
    text-shadow: 2px 2px rgb(0, 175, 66);
    letter-spacing: 1px;
}

.card-subreddit{
    width: 80%;
    height: 96%;
    text-align: center;
    margin: 10px 0px 20px 0px;
    background:rgb(230,230,230);
    -webkit-transition: -webkit-transform .15s linear;
    -webkit-box-shadow: 0 3px 6px rgba(0,0,0,.25);
    -moz-box-shadow: 0 3px 6px rgba(0,0,0,.25);
}

.buttonIcon {
    width: 10%;
}

.subFooter{
    padding: 25px;
}

.nextButton{
    float: right;
    padding: 20px;
}

.previousButton{
    float: left;
    padding: 20px;
}