

.logoImg {

  display: block;
}


.logInButton {
    float:right;
}
.puzzleImg {

    justify-content: center;
    width: 100%;
}

.puzzleImg:hover {
  animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
  perspective: 1000px;
}

.brand-landing-text {
  text-align: center;
  font-size: 72px;
  color: white;
  text-shadow: 2px 2px rgb(0, 175, 66);
  font-family: 'Pangolin', cursive;
}

.quote {
  text-align: center;
  color: rgb(0, 175, 66);
  text-shadow: 2px 2px white;
  font-family: 'Pangolin', cursive;
}

.footer-container {
  background-color: rgb(0, 175, 66);
  text-align: center;
  width: 100%;
  position: fixed;
  bottom: 0px;
  color: white;
  padding-top: 15px;
}

.footer-text-link {
  color: white;
  text-decoration: underline;
  padding: 5px;

}

@keyframes shake {
  10%, 90% {
    transform: translate3d(-1px, 0, 0);
  }
  
  20%, 80% {
    transform: translate3d(2px, 0, 0);
  }

  30%, 50%, 70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%, 60% {
    transform: translate3d(4px, 0, 0);
  }
}
