
.wrapper {
    background: #ECEFF1;
    height: 100%;
    display: flex;
    flex-flow: row wrap;
    padding: 20px;
    justify-content: space-around;
    align-content: flex-start;
    overflow: auto;
    margin: 1rem;
  }

  .card {
        width: 97%;
        height: 97%;
        margin: 1rem;
        text-align: center;
        background:rgb(186, 214, 233);
    
  }

  .animalImg {
    /* overflow: hidden; */
    /* width: 50%; */
    /* height: 100%; */
    
    width: 150px;
    /* margin-top: 2rem; */
    
  }