.draw-coloring-area {
    border: solid 2px black;
}
.undo-coloring-button {
    position: absolute;
    margin-top: 15px;
    right: 12px;
}

.pangolin-coloring-undo {
    font-family: 'Pangolin', cursive;
    display: inline-flex;
    letter-spacing: 2px;
    text-shadow: 2px 2px white;
    color: rgb(0, 175, 66);
    border-radius: 25px;
    box-shadow: 0px 0px 5px 3px rgb(0, 175, 66);
}

.pangolin-undo:hover {
    box-shadow: 1px 1px 5px 7px blueviolet;
}

.pangolin-coloring-text {
    font-family: 'Pangolin', cursive;
    display: inline-flex;
    margin: 0 55px;
    letter-spacing: 3px;
    text-shadow: 2px 2px rgb(0, 175, 66);
    color: white;
    padding: 10px;
}

.pangolin-coloring-text:hover {
    font-family: 'Pangolin', cursive;
    display: inline-flex;
    margin: 0 45px 0 26px;
    font-size: 42px;
    letter-spacing: 3px;
    text-shadow: 2px 2px rgb(0, 175, 66);
    color: blueviolet;
    padding: 0px;
}

.pangolin-coloring-text-title {
    font-family: 'Pangolin', cursive;
    display: inline-flex;
    margin: 0 25px;
    letter-spacing: 5px;
    text-shadow: 2px 2px white;
    color: rgb(0, 175, 66);
}

.arrows {
    position: absolute;
    z-index: 999;
    top: 520px;
    text-shadow: 2px 2px gold;
    color: rgb(0, 175, 66);
}

.arrows:hover {
    color: blueviolet;
    text-shadow: 2px 2px 15px gold;
}

.arr-left {
    left: 10px;
}

.arr-right {
    right: 110px;
}