.draw-coloring-area {
    border: solid 2px black;
    touch-action: none;
    cursor: none;
}
.undo-coloring-button {
    margin: 0 0 10px 5px;
}

.pangolin-coloring-undo {
    font-family: 'Pangolin', cursive;
    display: inline-flex;
    letter-spacing: 2px;
    text-shadow: 2px 2px white;
    color: rgb(0, 175, 66);
    border-radius: 25px;
    box-shadow: 0px 0px 5px 3px rgb(0, 175, 66);
}

.pangolin-undo:hover {
    box-shadow: 1px 1px 5px 7px blueviolet;
}

.pangolin-coloring-text {
    font-family: 'Pangolin', cursive;
    display: inline-flex;
    margin: 0 55px;
    letter-spacing: 3px;
    text-shadow: 2px 2px rgb(0, 175, 66);
    color: white;
    padding: 10px;
    cursor: pointer;
}

.pangolin-coloring-text:hover {
    font-family: 'Pangolin', cursive;
    display: inline-flex;
    text-shadow: 2px 2px rgb(0, 175, 66);
    color: blueviolet;
}

.pangolin-coloring-text-title {
    font-family: 'Pangolin', cursive;
    display: inline-flex;
    margin: 0 25px;
    letter-spacing: 5px;
    text-shadow: 2px 2px white;
    color: rgb(0, 175, 66);
}

.arrows {
    position: absolute;
    z-index: 999;
    top: 520px;
    text-shadow: 2px 2px gold;
    color: rgb(0, 175, 66);
}

.arrows:hover {
    color: blueviolet;
    text-shadow: 2px 2px 15px gold;
}

.arr-left {
    left: 10px;
}

.arr-right {
    right: 110px;
}

.colorFooter{
    margin-top: 20px;
    width: 100%;
}

.colorBackCol{
    margin: auto;
    width: 60%;
}

@media only screen and (max-width: 1219px) {
    .pangolin-coloring-text {
        padding: 0px;
        float: left;
        margin-top: 2px;
    }
}

@media only screen and (max-width: 600px) {
  .pangolin-coloring-text {
    font-size: 14px;
    margin: 0px 0px;
    float: left;
    margin-top: 5px;
  }
  .pangolin-coloring-text-title {
    font-size: 18px;
  }
  .undo-coloring-button {
    font-size: 14px;
    margin: 2px 0 10px 2px;
    padding: 0px;
    
}

.colorBackCol{
    margin: 0%;
    width: 100%;
}
}

@media only screen and (max-width: 420px) {
    .arr-left {
        font-size: 42px;
        left: 5px;
    }
    
    .arr-right {
        font-size: 42px;
        right: 80px;
    }

    .colorBackCol{
        margin: 0;
        margin-top: 0;
        width: 100%;
    }
}