.palette-color-body {
    height: 800px;
    width: 100px;
    background-color: white;
    border: black solid 3px;
    display: inline;
    right: 0;
    position: absolute;
}

.sample-color-color {
    width: 75%;
    height: 75px;
    margin: 10px auto;
    background-color: blue;
    border: 1px solid black;
    color: white;
    text-align: center;
    padding-top: 12px;
}

.palette-color-color {
    display: block;
    border: 1px solid black;
    width: 75%;
    height: 60px;
    margin: 10px auto;
}

.palette-color-color-selected {
    font-weight: bolder;
    color: rgba(255, 255, 255, 0);
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0);
    box-shadow: 1px 1px 1px 9px rgba(255, 255, 255, 0);
    border-radius: 15px;
}

.palette-color-color-selected:hover {
    font-weight: bolder;
    color: rgba(255, 255, 255, 0.993);
    text-shadow: 2px 2px 5px rgb(0, 0, 0);
    box-shadow: 1px 1px 1px 9px rgba(255, 255, 255, 0.315);
}

.fa-paint-brush {
    margin: 3px auto;
}

@media only screen and (max-width: 420px) {
    .palette-color-body {
        height: 595px;
        width: 75px;
    }
    .palette-color-color {
        height: 42px;
        margin: 10px auto;
    }
    .fa-minus-square, .fa-plus-square {
        font-size: 27px;
    }
}