.bg-primary {
    background-color: rgb(0, 175, 66) !important;
    color: white;
}

.navbar-brand{
    font-family: 'Pangolin', cursive;
    font-size: 50px;
    letter-spacing: 10px;
}

.navbar-brand{
    font-family: 'Pangolin', cursive;
    font-size: 50px;
    letter-spacing: 10px;
    text-shadow: 2px 2px gold;
}

.puzzlePieces{
    width: 100px;
}


@media only screen and (max-width: 1000px) {
    .navbar-nav{
    min-width: 200px;
    display: inline;
    text-align: center;
   }
   li.nav-item{
       display: inline-block;
       padding: 8px;
       font-size: 25px;
   }
   .nav-link{
       display: inline;
   }
  }
  .navbar-brand{
      width: 100%;

  }