.video-name {
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    font-family: 'Pangolin', cursive;
    letter-spacing: 2px;
    text-shadow: 2px 2px white;
    color: rgb(0, 175, 66);
}

.vidFooter{
    margin: auto;
    width: 60%;
    margin-bottom: 0%;
    height: 20%;
  }

  .vidBackCol{
    width: 100%;
    margin-top: 5%;
  }
