.video-name {
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    font-family: 'Pangolin', cursive;
    letter-spacing: 2px;
    text-shadow: 2px 2px white;
    color: rgb(0, 175, 66);
}
